
/* -------------------------------------------------------------------------------
	loding
 ------------------------------------------------------------------------------- */ 
.loding-box {     
	display: none;   
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
  }
  .loding-box .loding-dim {        
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: #000;
	-ms-filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
	opacity: 0.3;
	z-index: 1;
  }
  .loding-fix {
	position: absolute;
	top: calc(50% - 64px);
	left: calc(50% - 64px);
	display:block;
	width: 128px;
	height: 128px;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.06), 0px 1px 6px rgba(0, 0, 0, 0.08);
	border-radius: 16px;
	z-index: 2;
  }
  .cssload-arc {
	position: relative;
	overflow: hidden;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #333D47;
	padding: 77px 0 0 40px;
  }
  .line-base,
  .cssload-arc-cube {
	position: absolute;
	bottom: calc(50% - 11px);
	left: calc(50% - 22px);
	width: 44px;
	height: 44px;
	border-width: 3px;
	border-style: solid;
	border-color: #D6D8DA;
	border-radius: 50%;
	  -o-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	box-sizing: border-box;
	  -o-box-sizing: border-box;
	  -ms-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
  }
  .cssload-arc-cube {
	border-color: transparent;
	animation: cssload-arc 2.3s ease-in-out infinite;
	  -o-animation: cssload-arc 2.3s ease-in-out infinite;
	  -ms-animation: cssload-arc 2.3s ease-in-out infinite;
	  -webkit-animation: cssload-arc 2.3s ease-in-out infinite;
	  -moz-animation: cssload-arc 2.3s ease-in-out infinite;
	transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
  }
  @keyframes cssload-arc {
	0% {
	  border-right-color: #D31145;
	}
	25% {
	  border-bottom-color: #D31145;
	}
	50% {
	  border-left-color: #D31145;
	}
	75% {
	  border-top-color: #D31145;
	}
	100% {
	  border-color: transparent;
	}
  }
  @-o-keyframes cssload-arc {
	0% {
	  border-right-color: #D31145;
	}
	25% {
	  border-bottom-color: #D31145;
	}
	50% {
	  border-left-color: #D31145;
	}
	75% {
	  border-top-color: #D31145;
	}
	100% {
	  border-color: transparent;
	}
  }
  @-ms-keyframes cssload-arc {
	0% {
	  border-right-color: #D31145;
	}
	25% {
	  border-bottom-color: #D31145;
	}
	50% {
	  border-left-color: #D31145;
	}
	75% {
	  border-top-color: #D31145;
	}
	100% {
	  border-color: transparent;
	}
  }
  @-webkit-keyframes cssload-arc {
	0% {
	  border-right-color: #D31145;
	}
	25% {
	  border-bottom-color: #D31145;
	}
	50% {
	  border-left-color: #D31145;
	}
	75% {
	  border-top-color: #D31145;
	}
	100% {
	  border-color: transparent;
	}
  }
  @-moz-keyframes cssload-arc {
	0% {
	  border-right-color: #D31145;
	}
	25% {
	  border-bottom-color: #D31145;
	}
	50% {
	  border-left-color: #D31145;
	}
	75% {
	  border-top-color: #D31145;
	}
	100% {
	  border-color: transparent;
	}
  }